# Default owners for all files in this repository.
* @Kitio-Tek

# Maintainers responsible for the API surface.
api/** @Kitio-Tek
charts/** @Kitio-Tek

# Maintainers responsible for the controller logic.
internal/** @Kitio-Tek
cmd/** @Kitio-Tek
